[user]
    name = yousef
    email = yousef.eslam1117@email.com

[credential "https://github.com"]
    helper =
    helper = !/usr/bin/gh auth git-credential

[credential "https://gist.github.com"]
    helper =
    helper = !/usr/bin/gh auth git-credential

[core]
    pager = less -RFX

[diff]
    algorithm = histogram
    renames = copies
    wsErrorHighlight = all

[color]
    ui = true

[color "diff"]
    meta = yellow
    frag = cyan bold
    old = red
    new = green
    whitespace = red reverse
    context = 242

[color "status"]
    branch = red bold
