# Backup and temporary files
*.bak
*#
*~
*.swp

# State and Database files
easyeffects/.config/easyeffects/db/

# External Dependencies / Plugins
tmux/.config/tmux/plugins/

# Machine-specific or private data
gtk-3.0/.config/gtk-3.0/bookmarks
gtk-4.0/.config/gtk-4.0/assets
gtk-4.0/.config/gtk-4.0/gtk.css
gtk-4.0/.config/gtk-4.0/gtk-dark.css
