# Backup and temporary files
*.bak
*#
*~
*.swp

# External Dependencies / Plugins
tmux/.config/tmux/plugins/
yazi/.config/yazi/plugins/
nvim/.config/nvim/lazy-lock.json

# Machine-specific or private data (Safety Nets)
gtk-3.0/
gtk-4.0/
qt5ct/
qt6ct/
