* {
  font-family: "JetBrainsMono Nerd Font", "Symbols Nerd Font", sans-serif;
  font-size: 15px;
  border: none;
  border-radius: 0;
}

#waybar {
  background-color: #000000;
  color: #ffffff;
}

/* --- Shared Layout Spacing --- */
#cpu,
#temperature,
#custom-fan,
#custom-idlemgr,
#tray,
#language,
#bluetooth,
#network,
#wireplumber,
#backlight,
#battery {
  margin-left: 25px;
}

/* --- Left Modules --- */
#workspaces button {
  padding: 0px 8px;
  min-width: 8px;
  background: transparent;
  color: #8a8f93;
  border-bottom: 1px solid transparent;
  box-shadow: none;
  text-shadow: none;
}

#workspaces button.focused {
  background: #60686e;
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
}

#workspaces button.active {
  background: #2b2e30;
  color: #ffffff;
  border-bottom: 1px solid #3995e5;
}

#workspaces button.urgent {
  background: rgba(217, 58, 73, 0.3);
  color: #ffffff;
  border-bottom: 1px solid #d93a49;
}

#scratchpad,
#mode {
  background-color: #60686e;
  color: #ffffff;
  padding: 0px 5px;
  margin-left: 25px;
  margin-right: 0px;
}

#memory {
  margin-left: 25px;
}

#custom-idlemgr {
  background-color: #60686e;
  color: #ffffff;
  padding: 0px 5px;
}

/* --- Center Modules --- */
#clock {
  background: transparent;
  color: #ffffff;
  font-size: 18px;
}

/* --- Right Modules --- */
#privacy {
  background-color: #60686e;
  padding: 0px 8px;
}

#tray {
  background: transparent;
  color: #ffffff;
}

#custom-capslock {
  background-color: #60686e;
  color: #ffffff;
  padding: 0px 5px;
  margin-left: 25px;
}

#battery {
  color: #ffffff;
  margin-right: 10px;
}

#power-profiles-daemon {
  margin-right: 5px;
}
