* {
  font-family: "JetBrainsMono Nerd Font", "Symbols Nerd Font", sans-serif;
  font-size: 15px;
  border: none;
  border-radius: 0;
}

#waybar {
  background-color: #000000;
  color: #ffffff;
}

#workspaces button {
  padding: 0px 8px;
  min-width: 8px;
  margin: 0px 0px;
  background: transparent;
  color: #8a8f93;
  border-bottom: 1px solid transparent;
  box-shadow: none;
  text-shadow: none;
}

#workspaces button.focused {
  background: #60686e;
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
}

#workspaces button.active {
  background: #2b2e30;
  color: #ffffff;
  border-bottom: 1px solid #3995e5;
}

#workspaces button.urgent {
  background: rgba(217, 58, 73, 0.3);
  color: #ffffff;
  border-bottom: 1px solid #d93a49;
}

#scratchpad,
#mode {
  background-color: #60686e;
  color: #ffffff;
  padding: 0px 4px;
  margin-left: 15px;
  margin-right: 0px;
}

#privacy {
  background-color: #60686e;
  padding: 0px 8px;
}

.binding_mode {
  background: #3995e5;
  color: #000000;
  padding: 0px 4px;
  margin: 0px 0px;
}

#battery {
  color: #ffffff;
  padding: 0px 0px;
  margin-right: 10px;
}

#power-profiles-daemon {
  margin-right: 8px;
}

#clock {
  background: transparent;
  color: #ffffff;
  font-size: 18px;
  padding: 0px 0px;
}

#tray {
  background: transparent;
  color: #ffffff;
  padding: 0px 0px;
  margin: 0px 0px 0px 16px;
}

#custom-separator {
  padding: 0px;
  min-width: 20px;
}
