* {
  font-family: "JetBrainsMono Nerd Font", "Symbols Nerd Font", sans-serif;

  font-size: 15px;
  border: none;
  border-radius: 0;
}

#waybar {
  background-color: rgba(0, 0, 0, 1);
  color: #ffffff;
}

#workspaces button {
  padding: 0px 8px;
  min-width: 8px;
  margin: 0px 0px;
  background: rgba(46, 52, 64, 0);
  color: #ffffff;
  border-bottom: 1px solid transparent;
  box-shadow: none;
  text-shadow: none;
}

#workspaces button.focused {
  background: #565c61;
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
}

#workspaces button.active {
  background: #4d545b;
  color: #ffffff;
  border-bottom: 1px solid #3584e4;
}

#workspaces button.urgent {
  background: rgba(198, 40, 40, 0.3);
  color: #ffffff;
  border-bottom: 1px solid #c01c28;
}

#scratchpad,
#mode {
  background-color: #4d545b;
  color: #ffffff;
  padding: 0px 8px;
  margin-left: 15px;
  margin-right: 0px;
}

#privacy {
  background-color: #4d545b;
  padding: 0px 8px;
}

.binding_mode {
  background: rgba(46, 52, 64, 0.2);
  color: #2e3436;
  padding: 0px 0px;
  margin: 0px 0px;
}

#battery {
  color: #ffffff;
  padding: 0px 0px;
  margin-right: 8px;
}

#clock {
  background: rgba(46, 52, 64, 0);
  color: #ffffff;
  font-size: 18px;
  padding: 0px 0px;
}

#tray {
  background: rgba(46, 52, 64, 0);
  color: #ffffff;
  padding: 0px 0px;
  margin: 0px 0px 0px 16px;
}

#custom-separator {
  padding: 0px;
  min-width: 20px;
}

#temperature.critical {
  color: #ff5555;
}
#battery.warning {
  color: #f1fa8c;
}
#battery.critical {
  color: #ff5555;
}
